<redis>
	<property name="port">8066</property>
	
	<!-- Reactor -->
	<property name="reactorSize">4</property>
	
	<!-- Buffer chunk/total 65536-->
	<property name="maxBufferSize">335544320</property>
	<property name="minBufferSize">167772160</property>
	<property name="decomposeBufferSize">65536</property>
	<property name="minChunkSize">0</property>
	<!-- 
	<property name="increment">1024,3072,12288,49152,65536,131072,786432,3145728,4194304,8388608</property>
	<property name="maxChunkSize">16777216</property>
	 -->
	<property name="increment">1024</property>
	<property name="maxChunkSize">65536</property>
	
	<!-- Boss/Timer size -->
	<property name="bossSize">10</property>
	<property name="timerSize">5</property>	
	
	<!-- Connection idle timeout -->
	<property name="frontIdleTimeout">300000</property>
	<property name="backendIdleTimeout">1800000</property>

	<!-- bypass cfg -->
	<property name="bypassRequireSize">262144</property>
	<property name="bypassCorePoolSize">2</property>
	<property name="bypassMaxPoolSize">4</property>
	<property name="bypassQueueSize">20</property>
	
	<!-- socket buffer -->
	<property name="frontSocketSoRcvbuf">2097152</property>
	<property name="frontSocketSoSndbuf">4194304</property>
	<property name="backSocketSoRcvbuf">4194304</property>
	<property name="backSocketSoSndbuf">4194304</property>

</redis>

